* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    @include SectionDimension(100vw, 100%);
}

.container {
    @include SectionDimension(1150px, 100%);
    margin: 0 auto;
}


/* Header ( Logo + Navbar ) */

.logo {
    @include FlexCenter(100%, row);
}

nav {
    @include FlexCenter(100%, row);
    @include SectionDimension(100%, 50px);
    background-color:rgb(177,210,29);
    align-items: center;
    
    & ul {
        display: flex;
        list-style-type:none;
        
        & li {
            @include Font (18px, 600);
            /* font-family: map-get($fontFamily, robot); */
            margin-left: 20px;
        }
    }
}

a {
    padding: 0 10px;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    border-bottom: 5px solid darkblue;
    color: darkblue;
}

main {
    @include SectionDimension(100%, auto);
    background-image: url('/img/fondo-molisana.jpg');
    background-repeat: repeat;
}


/* End Header ( Logo + Navbar ) */