main {
    & .container {
        padding-bottom: 20px;

        & h2 {
            color: darkblue;
            text-align: center;
            padding: 50px;
        }
        
        & .container_pasta {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 211px;
            grid-column-gap: 50px;
            grid-row-gap: 50px;

            & .box_pasta {
                & img {
                    height: auto; 
                    width: 100%;
                    opacity: 0.9;
                }

                & .content {  
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    color: black;  
                    position: relative;
                    transform: translate(0, -100%);
                    opacity: 0%;
                    @include Font (20px, 800);

                    & img {
                        width: 10%;
                        padding-top: 10px;
                    }
                }
            
                & .content:hover {
                    opacity: 100%;
                }

            }
            
            & .box_pasta:hover {
                background-color: white;
        
            }   
            
        }
    }
}





