main {
    & .container {
        
        & h2 {
            color: darkblue;
            text-align: center;
            padding: 20px;
        }
        
        & .container_pasta {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 200px;
            grid-column-gap: 1%;
            grid-row-gap: 10px;

            & .box_pasta {
                @include SectionDimension(100%, 100%);
                & img {
                    @include SectionDimension(100%, 100%); 
                }
            }
        }
    }    
}





